<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SaltAnalysisDatas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SaltAnalysisDatas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SaltAnalysisDatas.Properties.Settings.ChemAnConnectionString" connectionString="Data Source=(localdb)\mssqllocaldb;AttachDbFilename=E:\IIT\Projects\СВПП\KSR\ChemicalAnalyses\ChemicalAnalyses.mdf;Initial Catalog=ChemicalAnalyses;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <SaltAnalysisDatas.Properties.Settings>
            <setting name="NatirumCalibrationFile" serializeAs="String">
                <value>NaTestCalibration.xml</value>
            </setting>
            <setting name="KaliumCalibrationFile" serializeAs="String">
                <value>KTestCalibration.xml</value>
            </setting>
            <setting name="CarnalliteThreshold" serializeAs="String">
                <value>0.0008</value>
            </setting>
            <setting name="HgCoefficient" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BrBlank" serializeAs="String">
                <value>9.65</value>
            </setting>
            <setting name="BrTitre" serializeAs="String">
                <value>0.1332</value>
            </setting>
            <setting name="SulfatesBlank" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CaTrilonB" serializeAs="String">
                <value>1.0782</value>
            </setting>
            <setting name="MgTrilonB" serializeAs="String">
                <value>1.0782</value>
            </setting>
            <setting name="KaliumCalibrationNumber" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="NatriumCalibrationNumber" serializeAs="String">
                <value>1</value>
            </setting>
        </SaltAnalysisDatas.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <SaltAnalysisDatas.Properties.Settings>
            <setting name="Na" serializeAs="String">
                <value>22.99</value>
            </setting>
            <setting name="K" serializeAs="String">
                <value>39.098</value>
            </setting>
            <setting name="Cl" serializeAs="String">
                <value>35.45</value>
            </setting>
            <setting name="Ca" serializeAs="String">
                <value>40.078</value>
            </setting>
            <setting name="Mg" serializeAs="String">
                <value>24.305</value>
            </setting>
            <setting name="C" serializeAs="String">
                <value>12.011</value>
            </setting>
            <setting name="O" serializeAs="String">
                <value>15.999</value>
            </setting>
            <setting name="H" serializeAs="String">
                <value>1.008</value>
            </setting>
            <setting name="S" serializeAs="String">
                <value>32.06</value>
            </setting>
            <setting name="Br" serializeAs="String">
                <value>79.904</value>
            </setting>
            <setting name="B" serializeAs="String">
                <value>10.81</value>
            </setting>
        </SaltAnalysisDatas.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup></configuration>
